@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.popupDiv{
    font-family: "Inter", sans-serif;
    margin: 150px auto;
    text-align: left;
    border: 1px solid rgb(220, 220, 220);
    width: 550px;
    padding: 20px 10px;
    background-color: rgb(255, 255, 255);    
    border-radius: 20px;

}


.popupInput{
    width: 500px;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid rgb(203, 201, 201);
    font-size: 16px;
}

.popupStackButtonItem{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.popupSubmit{
    width: 125px;
    color: white;
    background-color: rgb(120, 120, 120);
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 30px;
    color:rgb(255, 255, 255);
    border: 1px solid rgb(169, 169, 169);
}

.popupCancel{
    width: 125px;
    color: white;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 30px;    
    color:black;
    border: 1px solid rgb(160, 160, 160);
}