@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.loginOptionsDiv{
    margin-top: 150px;
    font-family: "Inter", sans-serif;
}

.loginOptionsButton{
    margin: 12px;
    width: 300px;
    border-radius: 20px;
    font-weight: 600;
    color: black;
    border: 1px solid black;
}

.loginOptionsOr{
    font-size: 16px;
}

.loginOptionsHeading{
    margin-bottom: 20px;
}